@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Permanent+Marker&display=swap");

body {
  font-family: "Oxygen", sans-serif;
}

.logo-text {
  font-family: "Permanent Marker", cursive;
}
.cursor-pointer {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.extra-small-text {
  font-size: 0.75rem;
}

#dropzone {
  width: 75%;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 2px dashed #0dcaf0;
  border-radius: 1rem;
  background-color: #d7f3fa55;
  color: #097b92;
  text-align: center;

  p {
    margin: 0;
  }

  &.accept {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  &.reject {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
}

.card-img-top {
  aspect-ratio: 1;
  object-fit: cover;
}

.trash-hover:hover {
  color: #dc3545;
}

#login-tabs-nav {


  .nav-link {
    color: #212529;
    cursor: pointer;
  }
  .nav-link.active {
    background-color: #0dcaf0;
    color: #fff;
  }
}
